DATABASE_URL=postgres://user:pass@host.docker.internal:35432/db
MOVIE_API_URL=https://swapi.dev/api/
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:${PORT}
ssl=false
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
